<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
  </div>
</template>
<script>
  export default {
    ready(){
      $.init();
    },
    data () {
      return {
        msg: 'Hello home!'
      }
    }
  }
</script>
